:80 {
    # Redirecting a subdomain to Grafana
    @grafana host grafana.mcp-service.eu
    reverse_proxy @grafana grafana:3000

    # We give all other traffic to the Python application.
    reverse_proxy app:80
}
